<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#each data}}
        <div class="">
          <h1>algoritm {{algoritm}}</h1>
          {{#each coins}}
            <h2>name {{name}}</h2>
          {{/each}}
        </div>
    {{/each}}

  </body>
</html>
